<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Piksel.Dearchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dearchiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Piksel.Dearchiver.Properties.Settings>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFolderAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseAppAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertDeleteArchAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtWADeleteArchAfterExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingAreaBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalArchiverPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalArchiverName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalArchiverAutomatic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExternalArchiverArgs" serializeAs="String">
                <value>"%1"</value>
            </setting>
        </Piksel.Dearchiver.Properties.Settings>
        <Dearchiver.Properties.Settings>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFolderAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseAppAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertDeleteArchAfterExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtWADeleteArchAfterExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingAreaBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalArchiverPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalArchiverName" serializeAs="String">
                <value>7zip</value>
            </setting>
        </Dearchiver.Properties.Settings>
    </userSettings>
</configuration>